.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.header {
  font-size: 20px;
}

.input {
  width: 100%;
  margin: 10px 0;
  outline: none;
  height: 20px;
}

.button {
  outline: none;
  margin-top: 40px;
  transition: 200ms;
  padding: 5px 10px;
  background: darkslategray;
  color: white;
  font-size: 20px;
  border: none;
}
.button:hover {
  transform: translateY(-5px);
  transform: scale(1.2);
  background-color: white;
  color: darkslategray;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
